@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px
$xs = 330px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

webfont('AkzidenzGroteskRegular', 'AkzidenzGroteskRegular', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size .7vw
	+below($md)
		font-size 50% !important

body
	font-family 'AkzidenzGroteskRegular', Helvetica Neue, Arial, sans-serif
	font-size 2rem
	letter-spacing .02em
	text-rendering optimizeLegibility
	font-smoothing()

h1
	text-transform uppercase
	margin-bottom 1em
	&:last-child
		margin-bottom 0

p
	margin-bottom 1em
	line-height 100%

p:last-child
	margin-bottom 0

.title
	font-size 2rem

small, .credits
	font-size 1rem

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

.lazyimg
	transition(opacity 200ms ease)
	opacity 0

.lazyimg.lazyloaded
	opacity 1

.loader
	position fixed
	width 100%
	height 100%
	background $primary

#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 900
	a
		border-bottom 1px solid
	.inner
		padding 8rem 20%

.no-js, .no-svg, .no-flexbox, .no-csstransforms, .no-cssfilters, .no-csstransitions
	#outdated
		display block

// @keyframes color {
//     100%, 0% {
//         stroke: #40382e
//     }
//     40% {
//         stroke: #0f0f0f
//     }
//     66% {
//         stroke: #40382e
//     }
//     80%, 90% {
//         stroke: #0f0f0f
//     }
// }

@keyframes lsd {
	0% {
        transform(scaleY(1.1))
    }
    33% {
        transform(scaleY(1.5) skewY(-6deg) scaleX(1.2) translateZ(0))
    }
    66% {
    	transform(scaleY(1.2) skewY(6deg) translateZ(0))
    }
    100% {
    	transform(scaleY(1.1) scaleX(1.1))
    }
}

// @keyframes rotate {
//     100% {
//         transform(rotate(360deg))
//     }
// }

// @keyframes backmove {
// 	100% {
//         background-position 0% 50%
//     }
//     100% {
//         background-position 100% 50%
//     }
// }

@keyframes flash {
	0% {
        opacity 0
    }
    50% {
    	opacity 0
    }
    50.0001% {
    	opacity 1
    }
    100% {
        opacity 1
    }
}

// @keyframes dash {
//     0% {
//         stroke-dasharray: 1, 200;
//         stroke-dashoffset: 0
//     }
//     30% {
//         stroke-dasharray: 89, 200;
//         stroke-dashoffset: -35px
//     }
//     100% {
//         stroke-dasharray: 89, 200;
//         stroke-dashoffset: -124px
//     }
// }

pattern()
	background transparent url('../../images/noise.png') center repeat
	background-size 100px
	//animation backmove 5s linear infinite

#intro
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	z-index 4000
	background-color $secondary
	#intro-image
		width 100%
		height 100%
		background-color $primary
		background-position center
		background-size cover
		text-align center
		a
			display inline-block
		span
			visibility hidden
			position relative
			vertical-align middle
			text-transform uppercase
			color $secondary
			z-index 600
			font-size 10vw
			letter-spacing -.05em
			white-space nowrap
			+below($md)
				visibility visible
		&::before
			content ''
			height 100%
			display inline-block
			vertical-align middle
		&::after
			content ''
			visibility hidden
			opacity 0.4
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			pattern()
			mix-blend-mode color-burn
			z-index 500
			+below($md)
				display none
		.lsd
			visibility hidden
			opacity 0.6
			position absolute
			background-position center
			background-size cover
			width 100%
			height 100%
			top 0
			left 0
			overflow hidden
			// mix-blend-mode difference
			z-index 500
			animation(lsd 20s infinite alternate ease)
			// vendor(filter, invert(1) brightness(1.5) saturate(0.8))
			vendor(filter, invert(1) grayscale(1) contrast(1.5))
			+below($md)
				display none
	&.flash
		#intro-image
			vendor(filter, invert(1) grayscale(1) contrast(1.5))
			span
				transition(letter-spacing 1000ms cubic-bezier(.11,.35,.2,1))
				letter-spacing 0em
			span, &::after, .lsd
				visibility visible

#elevator
	.fp-section.leaving.serie
		.slide .lsd
			display none
			transition(opacity 300ms ease)
			mix-blend-mode difference
			opacity 0
			&::after
				content ''
				opacity 0.7
				position absolute
				top 0
				left 0
				width 100%
				height 100%
				pattern()
				mix-blend-mode color-burn
				z-index 500
				+below($md)
					display none
			img
				vendor(filter, invert(1) brightness(0.9) saturate(0.8))
		.slide.is-selected
			backface()
			transition(transform 1800ms ease)
			transform(scaleY(1.2) skewY(-6deg) translateY(-30%) translateZ(0))
			transform-origin bottom
			+below($md)
				transform(scaleY(1.4) skewY(-10deg) translateY(-30%) translateZ(0))
			.lsd
				display block
				opacity 0.6
				position absolute
				width 100%
				height 100%
				top 0
				left 0
				overflow hidden
				+below($md)
					display none
				img
					backface()
					transition(transform 1800ms ease)
					transform(scaleY(1.15))
					transform-origin bottom
		&:nth-child(odd)
			.slide.is-selected
				transform(scaleY(1.2) skewY(6deg) translateY(-30%) translateZ(0))
				+below($md)
					transform(scaleY(1.4) skewY(10deg) translateY(-30%) translateZ(0))
	.fp-section.serie.active
		.slide.is-selected
			transform(none)
			.lsd
				opacity 0
				img
					transform(scale(1))

body.backwards
	#elevator
		.fp-section.leaving.serie
			.slide.is-selected
				transform-origin top
				transform(scaleY(1.2) skewY(6deg) translateY(30%) translateZ(0))
				+below($md)
					transform(scaleY(1.4) skewY(10deg) translateY(30%) translateZ(0))
			&:nth-child(odd)
				.slide.is-selected
					transform(scaleY(1.2) skewY(-6deg) translateY(30%) translateZ(0))
					+below($md)
						transform(scaleY(1.4) skewY(-10deg) translateY(30%) translateZ(0))
		.fp-section.serie .slide.is-selected .lsd img
			transform-origin top

body
	&::after
		content ''
		transition all .2s ease//, background-position 500ms ease
		content ''
		position fixed
		top 0
		left 0
		width 100%
		height 100%
		background $primary
		//pattern()
		//vendor(filter, grayscale(1) contrast(0.2))
		//mix-blend-mode darken
		z-index 5000
	&.loaded::after
		opacity 0
		visibility hidden
	&.loading::after
		opacity 1
		visibility visible
		
.serie
	.slider
		height 100vh
		+below($md)
			height 100%
		.flickity-viewport
			cursor default
		.flickity-slider
			transform(none !important)
		.slide
			display block
			width 100%
			height 100%
			text-align center
			left 0 !important
			opacity 0
			z-index 0
			.image-content
				position relative
				display inline-block
				text-align center
				height 100%
				img
					display inline-block
					max-height 100%
					+below($md)
						max-width 100%
			.image-content.full, .image-content.contain
				height 100%
				width 100%
				img
					height 100%
					width 100%
					-o-object-position 50% 50%
					object-position 50% 50%
			.image-content.full img
				object-fit cover
				font-family "object-fit: cover"
			.image-content.contain img
				object-fit contain
				font-family "object-fit: contain"
			.image-content.half
				span(1/2)
			.image-content.solo, .image-content.solo.full
				+below($md)
					height 100% !important
				img
					+below($md)
						width 100%
						object-fit contain
						font-family "object-fit: contain"
			.two-images-content
				width 100%
				height 100%
				+below($md)
					flexbox()
					-webkit-box-align center
					-ms-flex-align center
					-ms-grid-row-align center
					align-items center
					justify-content center
				.image-content
					+below($md)
						height 50%
			.duo-content
				height 100%
				flexbox()
				justify-content center
				align-items center
				.group
					width 100%
					height 100%
					+above($md + 1)
						height 75%
					+below($md)
						flexbox()
						justify-content center
						align-items center
						height 100% !important
					.image-content
						width 50%
						img
							height 100%
							width 100%
							object-fit contain
							object-position right
							font-family "object-fit: contain"
						&:nth-child(2)
							img
								object-position left
						.lsd::after
							display none
			.collage-content
				width 100vh
				height 100%
				position relative
				+below($md)
					width 100%
					height 100vw
				.collage-item
					position absolute
					img
						max-width 100%
						max-width 100%
		.slide.middle-align
			flexbox()
			-webkit-box-align center
			-ms-flex-align center
			-ms-grid-row-align center
			align-items center
			justify-content center
		.slide.is-selected
			opacity 1
			z-index 1
		.flickity-prev-next-button
			top 0
			height 100%
			width 50%
			margin-top 0
			background transparent
			padding 0
			transform(none)
			border none
			border-radius 0
			z-index 10
			+below($md)
				display none
			svg
				display none
		.flickity-prev-next-button.previous
			cursor url("../../images/arrow-l.png") 12 5, auto
			left 0
		.flickity-prev-next-button.next
			cursor url("../../images/arrow-r.png") 12 5, auto
			right 0

.column-about
	span(1/2)
	+below($md)
		col(1/2, gutter: 1, cycle: 2)
		margin-bottom 2em

.column-index
	span(2/8)

.row
	span(1)
	&:not(:last-child)
		+below($md)
			margin-bottom 2em

.desktop
	+below($md)
		display none

.mobile
	+above($md + 1)
		display none

#page-content.page
	span(1)
	padding $padding

.dark
	background $secondary
	color $primary
	#page-content
		background $secondary
		color $primary
		min-height 100vh
		#top-bar
			background $secondary

[event-target="list-toggle"]
	cursor pointer
	position relative
	text-transform uppercase
	&::after
		content 'Go by list'

[event-target="list-toggle"].list::after
	content 'Go by images'

[data-target="index"]
	span:last-child
		display none
	&:hover
		span:first-child
			+above($md + 1)
				display none
		span:last-child
			+above($md + 1)
				display block

.index-serie
	span(1)
	counter-reset: slide;
	h2
		span(1.5/8, offset: 2/8)
		flex-grow 1
		display block
		float left
		vertical-align top
		padding-bottom ($padding/2)
		padding-right 1em
		+below($md)
			span(1/2, offset: 1/4)
	.thumbnails
		// display inline-flex
		// flex-wrap wrap
		// justify-content flex-start
	.thumbnail
		transition height 500ms $kinetic, opacity 200ms ease 500ms
		display block
		position relative
		float left
		margin-right $padding
		overflow hidden
		+above($md + 1)
			height 'calc(15vw + %s)' % ($padding)
		+below($md)
			height 'calc(30vw + %s)' % ($padding/2)
			margin-right ($padding/2)
		a
			position relative
			display block
			height 100%
			&::after
				+above($md + 1)
					//transition opacity .5s ease
					opacity 0
					content ''
					position absolute
					top 0
					left 0
					width 100%
					height 15vw
					pattern()
					mix-blend-mode screen
					//vendor(filter, grayscale(1) contrast(2))
					z-index 500
			&:hover::after
				+above($md + 1)
					opacity 1
			&:hover img
				//mix-blend-mode difference
				vendor(filter, invert(1) grayscale(1) contrast(1.5))
		img
			transition(filter .2s ease)
			display block
			width auto
			+above($md + 1)
				height 15vw
			+below($md)
				height 30vw
			//max-width 150px
			//object-fit contain
		.slide-number
			display none
			position absolute
			bottom ($padding/2)
			left 0
			font-size 1rem
		// img.lazyloaded + .slide-number
		// 	display block
		&.newslide
			.slide-number::before
				counter-increment slide
				content counter(slide)

#index-content
	margin-top 2em
	&.list
		.index-serie
			// h2
			// 	transition(letter-spacing .5s $kinetic)
			// h2:hover
			// 	letter-spacing .2em
			.thumbnail
				transition opacity 200ms ease, height 500ms $kinetic 300ms
				opacity 0
				height 0
				margin-bottom 0

#image-hover
	display none
	position fixed
	height calc(100% - 5em)
	width 45%
	object-fit contain
	object-position top right
	align(vertical)
	right 10%


#about-content
	+below($md)
		span(1)
	+above($md + 1)
		margin-top 2em
		width 50%
		padding-right 6.25%
		float left
		height 'calc(100vh - %s - 2em)' % ($padding*2)
		flexbox()
		justify-content space-between
		flex-direction column
		position fixed
		top $padding
		left $padding

#about-clients
	+above($md + 1)
		margin-top 2em
		margin-left 50%

#top-bar
	position fixed
	top 0
	left 0
	width 100%
	padding $padding
	background $primary
	z-index 4000
	#about-btn
		span(1/8)
		float right
		text-align right
		+below($md)
			span(1/4)
			text-align right
	.column-index:nth-child(2)
		+below($md)
			span(1/2)
	.title
		span(1/2)
	#about-bar
		span(1/2)

#bottom-bar
	position fixed
	bottom 0
	left 0
	width 100%
	font-size 1rem
	padding $padding
	text-transform uppercase
	z-index 1000
	.hover
		+above($md + 1)
			visibility hidden
	#image-number
		span(1/16)
		+below($md)
			display none
	#serie-infos
		span(1/8)
		+below($md)
			span(1/2)
	#index-btn
		+above($md + 1)
			align(horizontal)
		+below($md)
			span(1/4)
	#serie-number
		span(1/8, offset: 7/16)
		+below($md)
			display none
	#serie-nav
		span(1/8)
		+below($md)
			display none
	#about-btn
		span(1/8)
		text-align right
		+below($md)
			span(1/4)
			text-align right
	&:hover, &.visible
		background $primary
		.hover
			visibility visible

body.loaded
	.loader
		opacity 0
		visibility hidden